.title {
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que los elementos bajen si hay menos espacio */
    margin: 20px 0;
    gap: 15px; /* Espaciado entre los elementos */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.label-filtrar {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: 10px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}


.input-filtrar {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 400px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

    .input-filtrar:focus {
        outline: none;
        border-color: #007bff;
    }

    .input-filtrar:hover {
        border-color: #007bff;
    }

.form-select {
    padding: 10px;
    font-size: 1.1rem;
    color: #333;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    transition: all 0.3s;
    cursor: pointer; /* Cambia el cursor para indicar interactividad */
    background-color: #f7f7f7; /* Fondo más claro al interactuar */
}

    .form-select:focus {
        outline: none;
        border-color: #007bff;
    }

@media (max-width: 768px) {
    .filter-container {
        flex-direction: column; /* Los elementos se apilan verticalmente */
        gap: 20px; /* Mayor espacio entre los elementos */
    }

    .input-filtrar {
        width: 100%; /* El ancho ocupa todo el espacio disponible */
    }
}

